@import "variables.scss";
@import "mainstyle.scss";

* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
}

/* Style the video: 100% width and height to cover the entire window */
video {
  position: fixed;
  top: $top-grid;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;

  -webkit-filter: brightness(40%);
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(40%);
}

h1 {
  @media screen and (min-width: $breakpoint-full-hd) {
    font-size: calc(1.375rem + 1.5vw);
  }

  @media screen and (min-width: $breakpoint-4k) {
    font-size: 6.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

h2 {
  @media screen and (min-width: $breakpoint-full-hd) {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media screen and (min-width: $breakpoint-4k) {
    font-size: 4.5rem;
  }
}

.box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  a {
    text-decoration: none;
    color: #868686;
    font-size: 1rem;
  }

  svg {
    height: 75px;
    padding: 10px;
    width: auto;
  }

  &:hover {
    a {
      // Styles for a element inside .box when .box is hovered
      color: white;
    }
  }

  @media screen and (min-width: $breakpoint-hd) {
    a {
      font-size: 1.2rem;
    }

    svg {
      font-size: 2.5rem;
      padding: 1rem;
    }
  }

  @media screen and (min-width: $breakpoint-full-hd) {
    a {
      font-size: 1.5rem;
    }

    svg {
      font-size: 5rem;
      padding: 1rem;
    }
  }

  @media screen and (min-width: $breakpoint-4k) {
    a {
      font-size: 3rem;
    }

    svg {
      font-size: 8rem;
      padding: 3rem;
    }
  }
}

/* Equal Heights for OwlCarousel 2 */

.owl-carousel {
  background-image: linear-gradient(#000, #222222);
  background-color: rgba($bg-color, $opacity);

  .owl-stage {
    display: flex;
    height: $top-grid;
    padding: 1rem;
  }
  .owl-item {
    display: flex;
    flex: 1 0 auto;
  }
  .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
  .flex-text {
    flex-grow: 1;
  }
  .thumbnail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .owl-nav {
    position: fixed;
    top: 3.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;

    @media screen and (min-width: $breakpoint-4k) {
      top: 8rem;
      padding-left: 1rem;
      padding-right: 4rem;
    }
  }

  .owl-prev,
  .owl-next {
    display: block;
    padding: 0 0.3rem;
    font-size: 3em;
    margin: 0;
    cursor: pointer;
    color: #868686;

    i {
      font-size: 2rem;

      @media screen and (min-width: $breakpoint-hd) {
        font-size: 2.5rem;
      }
      @media screen and (min-width: $breakpoint-full-hd) {
        font-size: 4rem;
      }

      @media screen and (min-width: $breakpoint-4k) {
        font-size: 7rem;
      }
    }

    &:hover {
      color: white;
    }
  }

  .owl-next {
    right: 100%;
  }

  @media screen and (min-width: $breakpoint-4k) {
    padding: 0 1.5rem;
  }
}

.mini-container {
  width: 55vh;
  display: inline-block;
  position: absolute;
  bottom: 3vh;
  right: 5vh;

  @media screen and (min-width: $breakpoint-4k) {
    width: 65vh;
  }
}

.card {
  height: 120px;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: rgba($bg-color, $opacity);
  flex-direction: row;
  text-align: center;

  .footnote {
    font-size: x-small;
  }

  img {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
  }

  div:first-child {
    width: 60%;
  }

  div:last-child {
    width: 100%;
    padding: 0.5rem;
  }

  @media screen and (min-width: $breakpoint-hd) {
    font-size: 2.5rem;
  }

  @media screen and (min-width: $breakpoint-full-hd) {
    font-size: 4rem;
    height: 160px;

    img {
      height: 160px;
    }

    h4 {
      font-size: 1.9rem;
    }

    h6 {
      font-size: 1.4rem;
    }

    .footnote {
      font-size: large;
    }
  }

  @media screen and (min-width: $breakpoint-4k) {
    font-size: 7rem;
    height: 350px;
    margin-bottom: 3rem;

    img {
      height: 350px;
    }

    h4 {
      font-size: 5.5rem;
    }

    h6 {
      font-size: 4rem;
    }

    .footnote {
      font-size: 2.5rem;
    }
  }
}
