@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");
/* Set your desired column gutter size */
/* Set your desired HD breakpoint */
/* Set your desired Full HD breakpoint */
/* Set your desired 4K breakpoint */
/* HOME */
/* MAIN */
/* WEATHER */
/*    
1280 × 720
HD (1366 x 768),
Full HD (1920 x 1080)
4K (3840 x 2160) 

*/
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&display=swap");
/* Set your desired column gutter size */
/* Set your desired HD breakpoint */
/* Set your desired Full HD breakpoint */
/* Set your desired 4K breakpoint */
/* HOME */
/* MAIN */
/* WEATHER */
* {
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 3840px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  /* Add additional media queries for other larger devices as needed */
}
@media screen and (min-width: 1366px) {
  .container {
    max-width: 1366px;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
@media screen and (min-width: 3840px) {
  .container {
    max-width: 3840px;
  }
}

/* Column classes for different screen sizes */
* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
}

/* Style the video: 100% width and height to cover the entire window */
video {
  position: absolute;
  top: 20%;
  width: 100vw;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -moz-filter: brightness(40%);
  -o-filter: brightness(40%);
  -ms-filter: brightness(40%);
  filter: brightness(45%);
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
@media screen and (min-width: 3840px) {
  h1 {
    font-size: 6.5rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 1920px) {
  h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
@media screen and (min-width: 3840px) {
  h2 {
    font-size: 4.5rem;
  }
}

.box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box a {
  text-decoration: none;
  color: #868686;
  font-size: 1rem;
}
.box svg {
  height: 75px;
  padding: 10px;
  width: auto;
}
.box:hover a {
  color: white;
}
@media screen and (min-width: 1366px) {
  .box a {
    font-size: 1.2rem;
  }
  .box svg {
    font-size: 2.5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 1920px) {
  .box a {
    font-size: 1.5rem;
  }
  .box svg {
    font-size: 5rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 3840px) {
  .box a {
    font-size: 3rem;
  }
  .box svg {
    font-size: 8rem;
    padding: 3rem;
  }
}

/* Equal Heights for OwlCarousel 2 */
.owl-carousel {
  background-image: linear-gradient(#000, #222222);
  background-color: rgba(0, 0, 0, 0.7);
  height: 20%;
}
.owl-carousel .owl-stage {
  display: flex;
  height: 100%;
  padding: 1rem;
}
.owl-carousel .owl-item {
  display: flex;
  flex: 1 0 auto;
}
.owl-carousel .caption {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.owl-carousel .flex-text {
  flex-grow: 1;
}
.owl-carousel .thumbnail {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
}
.owl-carousel .thumbnail a {
  text-decoration: none;
  color: #868686;
}
.owl-carousel .thumbnail p {
  font-size: 1rem;
}
.owl-carousel .thumbnail svg {
  height: 75px;
  padding: 10px;
  width: auto;
}
.owl-carousel .thumbnail:hover a {
  color: white;
}
@media screen and (min-width: 1366px) {
  .owl-carousel .thumbnail p {
    font-size: 1.2rem;
  }
  .owl-carousel .thumbnail svg {
    height: 4.5rem;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .owl-carousel .thumbnail p {
    font-size: 1.8rem;
  }
  .owl-carousel .thumbnail svg {
    height: 6rem;
    padding: 0.8rem;
  }
}
@media screen and (min-width: 3840px) {
  .owl-carousel .thumbnail p {
    font-size: 4rem;
  }
  .owl-carousel .thumbnail svg {
    height: 10rem;
    padding: 0rem;
  }
}
.owl-carousel .owl-nav {
  position: fixed;
  top: 3rem;
  display: flex;
}
@media screen and (min-width: 1920px) {
  .owl-carousel .owl-nav {
    top: 4.5rem;
  }
}
@media screen and (min-width: 3840px) {
  .owl-carousel .owl-nav {
    top: 9.5rem;
  }
}
.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  display: block;
  padding: 0 0.3rem;
  height: 1em;
  margin: 0;
  cursor: pointer;
  color: #868686;
}
.owl-carousel .owl-prev svg,
.owl-carousel .owl-next svg {
  height: 3.5rem;
  width: auto;
}
@media screen and (min-width: 1920px) {
  .owl-carousel .owl-prev svg,
  .owl-carousel .owl-next svg {
    height: 5rem;
  }
}
@media screen and (min-width: 3840px) {
  .owl-carousel .owl-prev svg,
  .owl-carousel .owl-next svg {
    height: 9rem;
  }
}
.owl-carousel .owl-prev:hover,
.owl-carousel .owl-next:hover {
  color: white;
}
.owl-carousel .owl-next {
  right: 0px;
  position: fixed;
}
@media screen and (min-width: 1920px) {
  .owl-carousel {
    height: 20%;
  }
}
@media screen and (min-width: 3840px) {
  .owl-carousel {
    padding: 0 1.5rem;
    height: 20%;
  }
}

.mini-container {
  width: 55vh;
  display: inline-block;
  position: absolute;
  bottom: 3vh;
  right: 5vh;
}
@media screen and (min-width: 3840px) {
  .mini-container {
    width: 65vh;
  }
}

.card {
  height: 120px;
  display: flex;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  flex-direction: row;
  text-align: center;
}
.card .footnote {
  font-size: x-small;
}
.card img {
  display: block;
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card div:first-child {
  width: 60%;
}
.card div:last-child {
  width: 100%;
  padding: 0.5rem;
}
@media screen and (min-width: 1366px) {
  .card {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .card {
    font-size: 4rem;
    height: 160px;
  }
  .card img {
    height: 160px;
  }
  .card h4 {
    font-size: 1.9rem;
  }
  .card h6 {
    font-size: 1.4rem;
  }
  .card .footnote {
    font-size: large;
  }
}
@media screen and (min-width: 3840px) {
  .card {
    font-size: 7rem;
    height: 350px;
    margin-bottom: 3rem;
  }
  .card img {
    height: 350px;
  }
  .card h4 {
    font-size: 5.5rem;
  }
  .card h6 {
    font-size: 4rem;
  }
  .card .footnote {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */